@import url('https://fonts.googleapis.com/css?family=Assistant:300|Inconsolata&display=swap');

.app {
    width: 100vw;
    height: 100vh;
    background: black;
    font-family: 'Assistant';
    color: whitesmoke;
}
.whitepaper{
    background:none transparent;
}